/* styles.css */

#sticky-top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: black;
  color: white;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#sticky-top-bar-inner {
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 1000px) {
  #sticky-top-bar {
    font-size: 15px;
    position: fixed;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
    justify-content: none;
  }
  #sticky-top-bar-inner {
    position: sticky;
    top: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: none;
    padding-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 700px) {
  #sticky-top-bar {
    font-size: 10px;
    position: fixed;
    padding-top: 0;
  }
  #sticky-top-bar-inner {
    position: sticky;
    top: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
}

#navbar-container {
  max-width: 100%;
}

#homepage-image,
#about-me,
#experience,
#projects,
#contact-me {
  width: 100%;
}

#computer {
  width: 40%;
  transform: translateX(140%) translateY(-160%);
  position: absolute;
}

#about-me-button {
  width: 20%;
  transform: translateX(20%) translateY(-200%);
  position: absolute;
}

#projects-button {
  width: 20%;
  transform: translateX(130%) translateY(-203%);
  position: absolute;
  z-index: 4;
}

.form {
  width: 100%;
}

#contact-text {
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

#contact-form {
  width: 30%;
  max-height: 100%;
  position: absolute;
  transform: translateX(15%) translateY(25%);
  z-index: 4;
}

#form {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1000px) {
  #contact-form {
    width: 30%;
    height: 60%;
    transform: translateX(10%) translateY(-10%);
  }

  .form {
    font-size: 10px;
    max-width: 100%;
    max-height: 100%;
  }
  #contact-text {
    color: white;
    font-size: 20px;
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 800px) {
  #contact-form {
    width: 30%;
    height: 60%;
    transform: translateX(10%) translateY(-25%);
  }

  .form {
    font-size: 8px;
    max-width: 100%;
    max-height: 100%;
  }
  #contact-text {
    color: white;
    font-size: 12px;
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 700px) {
  #contact-form {
    width: 30%;
    height: 60%;
    transform: translateX(10%) translateY(-30%);
  }

  .form {
    font-size: 8px;
    max-width: 100%;
    max-height: 100%;
  }
  #contact-text {
    color: white;
    font-size: 12px;
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 600px) {
  #contact-form {
    width: 30%;
    height: 60%;
    transform: translateX(10%) translateY(-40%);
  }

  .form {
    font-size: 8px;
    max-width: 100%;
    max-height: 100%;
  }
  #contact-text {
    color: white;
    font-size: 12px;
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 400px) {
  #contact-form {
    width: 25%;
    height: 40%;
    transform: translateX(10%) translateY(-30%);
  }

  .form {
    font-size: 6px;
    max-width: 100%;
    max-height: 100%;
  }
  #contact-text {
    color: white;
    font-size: 10px;
    max-width: 100%;
    max-height: 100%;
  }
}

/* @media (max-width: 310px) {
  #contact-form {
    width: 25%;
    height: 30%;
    transform: translateX(10%) translateY(-25%);
  }

  .form {
    font-size: 4px;
    max-width: 100%;
    max-height: 100%;
  }
  #contact-text {
    color: white;
    font-size: 6px;
    max-width: 100%;
    max-height: 100%;
  }
} */

@media (max-width: 300px) {
  #contact-form {
    width: 25%;
    height: 30%;
    transform: translateX(10%) translateY(-30%);
  }

  .form {
    font-size: 4px;
    max-width: 100%;
    max-height: 100%;
  }
  #contact-text {
    color: white;
    font-size: 6px;
    max-width: 100%;
    max-height: 100%;
  }
}

#contact-computer {
  max-width: 30%;
  width: 100%;
  position: absolute;
  transform: translateX(190%) translateY(-120%);
}

.technologies {
  max-width: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-around;
  transform: translateX(0%) translateY(-120%);
}

.technologies img {
  max-width: 100%;
}

#python-logo,
#flask-logo,
#react-logo,
#javascript-logo,
#css-logo,
#html-logo {
  max-width: 100%;
}

.project-links {
  max-width: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-around;
  transform: translateX(0%) translateY(-280%);
}

.project-links img {
  max-width: 100%;
}

#speech-trainer-icon,
#cocktail-creator-icon {
  max-width: 100%;
}

@media screen and (max-width: 1700px) {
  .project-links,
  #speech-trainer-icon,
  #cocktail-creator-icon {
    width: 80%;
    display: flex;

    justify-content: space-around;
    transform: translateX(10%) translateY(-130%);
  }

  #python-logo,
  #flask-logo,
  #react-logo,
  #javascript-logo,
  #css-logo,
  #html-logo {
    max-width: 100%;
  }
}

@media screen and (max-width: 1300px) {
  .project-links,
  #speech-trainer-icon,
  #cocktail-creator-icon {
    width: 70%;
    display: flex;

    justify-content: space-around;
    transform: translateX(20%) translateY(-120%);
  }
  #python-logo,
  #flask-logo,
  #react-logo,
  #javascript-logo,
  #css-logo,
  #html-logo {
    max-width: 80%;
  }
}

@media screen and (max-width: 958px) {
  .project-links,
  #speech-trainer-icon,
  #cocktail-creator-icon {
    width: 50%;
    display: flex;

    justify-content: space-around;
    transform: translateX(50%) translateY(-150%);
  }
  #python-logo,
#flask-logo,
#react-logo,
#javascript-logo,
#css-logo,
#html-logo {
  max-width: 60%;
}
}
